.main-item-container {
  font-size: 20px;
  width: 100%;
  background-color: rgb(197, 209, 211);
  height: 100vh;
  margin-left: 300px;
  overflow-y: scroll;
  background: rgb(255, 255, 255);
  background-color: #d5e9e8;
  background-color: #85c0bd;
  
  z-index: 6;
}

.main-heading {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 40px;
  cursor: pointer;
  text-align: center;
}


.main-heading:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 10%;
  padding-top: 10px;
  border-bottom: 4px solid black;
}
.main-heading:before {
  content: "";
  display: block;
  margin: 0 auto 5px;
  width: 10%;
  padding-bottom: 10px;
  border-bottom: 4px solid black;
}

.main-heading:hover::after {
  width: 5%;
  -webkit-transition: all 0.3s 0s ease-in-out;
  -moz-transition: all 0.3s 0s ease-in-out;
  -o-transition: all 0.3s 0s ease-in-out;
  transition: all 0.3s 0s ease-in-out;
}
.main-heading:hover::before {
  width: 5%;
  -webkit-transition: all 0.3s 0s ease-in-out;
  -moz-transition: all 0.3s 0s ease-in-out;
  -o-transition: all 0.3s 0s ease-in-out;
  transition: all 0.3s 0s ease-in-out;
}
.component-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 70px;

  padding: 20px 20px 0px 20px;
}

.menu-card {
  background-color: #494747;
  color: white;
  overflow-x: hidden;
  margin-bottom: 10px;
  border-radius: 3%;
  -webkit-box-shadow: 10px 10px 5px -6px rgba(153, 141, 153, 1);
  -moz-box-shadow: 10px 10px 5px -6px rgba(153, 141, 153, 1);
  box-shadow: 10px 10px 5px -6px rgba(153, 141, 153, 1);
  cursor: pointer;
  background-color: rgb(14, 42, 92);
   background-color: rgb(8, 34, 80);
   background-color: rgb(19, 16, 16);


}

.menu-card:hover {
-webkit-box-shadow: 10px 10px 5px -2px rgba(153,141,153,1);
-moz-box-shadow: 10px 10px 5px -2px rgba(153,141,153,1);
box-shadow: 10px 10px 5px -2px rgba(153,141,153,1);

  -webkit-transition: all 0.15s 0s ease-in-out;
  -moz-transition: all 0.15s 0s ease-in-out;
  -o-transition: all 0.15s 0s ease-in-out;
  transition: all 0.15s 0s ease-in-out;
}

.menu-card > .image-card {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 95%;
}

.menu-card > p {
  /* text-align: center; */
  display: block;
  margin-left: 5%;
  color:rgb(218, 222, 230);;
}


.cart-button{
   padding: 8px;
   margin-left: 0%;
   display: block;
   margin-bottom: 10px;
   margin-top: 10px;
   cursor: pointer;
  
   background-color: rgb(218, 253, 166);
   border: 1px solid black;
}

.cart-button-selected{
     padding: 8px;
   margin-left: 0%;
   display: block;
   margin-bottom: 10px;
   margin-top: 10px;
   cursor: pointer;
   background-color: rgb(218, 253, 166);
    background-color: rgb(149, 153, 143);
   border: 1px solid black;

}

.cart-button:hover{
    background-color: rgb(63, 55, 55);
    color: rgb(245, 239, 239);
}


@media screen and (min-width:1120px){
    .component-container{
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 20px;
    }
}

@media screen and (min-width:1200px){
    .component-container{
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 40px;
    }
    .menu-card{
        margin-left:30px;
        margin-right:30px;
    }
    
}

@media screen and (min-width:1440px){
    .component-container{
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 40px;
    }
    .menu-card{
        margin-left:5px;
        margin-right:5px;
    }
    
}




@media screen and (min-width:1500px){
    .component-container{
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 50px;
    }
}
@media screen and (min-width:1800px){
    .component-container{
        grid-template-columns: repeat(5,1fr);
        grid-column-gap: 50px;
    }
}

@media screen and (min-width:2200px){
    .component-container{
        grid-template-columns: repeat(6,1fr);
        grid-column-gap: 50px;
    }
}


@media screen and (min-width:2800px){
    .component-container{
        grid-template-columns: repeat(8,1fr);
        grid-column-gap: 50px;
    }
}




@media screen and (max-width:934px){
    .main-item-container{
        margin-left: 0;
        position: absolute;
        top: 66vh;
        border-top: 10px solid rgb(20, 20, 20);;
    }
}

@media screen and (max-width:934px) and (orientation:landcape){
    .main-item-container{
        margin-left: 0;
        position: absolute;
        top: 72vh;
       
    }
}

@media screen and (min-width:384px) and (max-width:412px){
    .main-item-container{
        margin-left: 0;
        position: absolute;
        top: 60vh;
       
    }
}


@media screen and (max-width:560px){
    .component-container{
        grid-template-columns: 1fr;
        padding:20px 0 0 0;
        }

     
    .main-heading{
        font-size: 30px;
    } 
    
}


@media screen and (max-width:360px){
     .main-item-container{
        top: 60vh;
       
    }
    
}

@media screen and (min-width:320px) and (max-width:420px){
    
    .menu-card{
        margin-left:45px;
        margin-right:45px;
    }
}

@media screen and (min-width:410px) and (max-width:560px){
    
    .menu-card{
        margin-left:50px;
        margin-right:50px;
    }
}

@media screen and (width:540px) and (height:720px){
    .menu-card{
         margin-left:70px;
        margin-right:70px;
    }
}




@media screen and (min-height:801px){
  .main-item-container{
      height: 80vh;
  }

}

@media screen and (min-height:1200px){
    .main-item-container{
      height: 70vh;
  }
}



@media screen and (min-width:374px) and (max-width:376px){
    
   .main-item-container{
        top: 60vh;
        height: 110vh;
       
    }
}



@media screen and (min-width:359px) and (max-width:361px){
    
   .main-item-container{
        top: 60vh;
        height: 95vh;
       
    }
}

